@import '../../assets/colors';

.home {
  color: $white;
  height: 50%;
  background-color: $black;

  header {
    z-index: -1;
    text-align: center;
    padding: 20px 20px 60px 20px;
    background-color: $darkGray;

    h1 {
      display: block;
      color: $primary;
      text-align: center;
      margin: 0;
      font-size: 45px;
      letter-spacing: 0.01em;

      svg {
        fill: $primary;
      }
    }

    p {
      padding-top: 15px;
      text-align: center;
      font-size: 24px;
      letter-spacing: 0.01em;
      font-weight: 200px;
    }

    button {
      display: inline-block;
      font-size: 16px;
      background-color: $primary;
      color: $white;
      padding: 10px 25px;
      white-space: nowrap;
      transition: background-color 0.2s;
      border: 0;
      border-radius: 5px;
      margin: 0 10px;
      cursor: pointer;
    }

    a {
      display: inline-block;
      font-size: 16px;
      color: $text;
      text-decoration: none;
      font-weight: bold;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $lightGray;
    color: $black;
    padding: 0;

    .first {
      background: linear-gradient($darkGray 2%, $black);
      height: 60px;
    }

    .second {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      background-color: $black;
      padding: 0;
    }

    .card {
      background-color: $lightGray;
      height: 200px;
      width: 32%;
      border: 1px solid $darkGray;
      border-radius: 5px;
      margin: 5px 10px 40px 10px;
    }

    h3 {
      padding: 0 30px;
      font-size: 50px;
      color: $white;
      margin-top: -10px;
    }

    h5 {
      background-color: $primary;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding: 8px 8px 0 8px;
      height: 30px;
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      color: $white;
    }

    ul {
      margin-top: 0;
    }

    li {
      font-size: 14px;
    }

    b {
      color: $white;
      font-size: 20px;

      strong {
        color: $primary;
      }
    }

    p {
      font-size: 15px;
      padding: 5px;
      margin: 5px;
      font-weight: bold;
      padding-left: 10px;
    }
  }
}
