@import '../../assets/colors';

.home {
    color: $white;
    header {
        z-index: -1;
        text-align: center;
        padding: 20px;
        h1 {
            display: block;
            color: $primary;
            text-align: center;
            margin: 0;
            font-size: 45px;
            letter-spacing: 0.01em;
        }
        p {
            padding-top: 15px;
            text-align: center;
            font-size: 24px;
            letter-spacing: 0.01em;
            font-weight: 200px;
        }
        button {
            display: inline-block;
            font-size: 16px;  
            background-color: $primary;
            color: $white;
            padding: 10px 25px;
            white-space: nowrap;
            transition: background-color 0.2s;
            border: 0px;
            border-radius: 5px;
            margin: 0 10px;
            cursor: pointer;
        }
        a {
            display: inline-block;
            font-size: 16px;
            color: $text;
            text-decoration: none;
            font-weight: bold;
        }
    }
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $darkGray;
        color: $black;
        padding: 0 20px 0 20px;
        p {
            line-height: 0.7em;
        }
    }
}