/*
  If you prefer your CSS Sassy. Run npm install -s node-sass and change the extension and import of this file.
  Or use Less or whatever form of styling brings you the most Joy. Bonus points for following a CSS methodology. (BEM, OOCSS, ETC)
*/
@import './colors';

body,
html {
  background-color: $lightGray;
  box-sizing: border-box;
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1.15;
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar { width: 10px; }

  ::-webkit-scrollbar-track { background: $darkBlack; }

  ::-webkit-scrollbar-thumb { background: $primary; }

  ::-webkit-scrollbar-thumb:hover { background: $dark; }
}

/* Font Styles */

a {
  text-decoration: none;
}

h2 {
  padding-left: 20px;
}

/* Element Styles */

article,
aside,
section {
  display: block;
}

pre {
  border-radius: 5px;
  font-size: 0.9em;
}

section {
  background-color: #212121;
  padding: 20px;
  font-size: 2em;
}

/* Form Styles */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 3em 2em 3em;
  margin: 0 auto;
  background-color: $white;
  border-radius: 3px * 1.4;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2);

  button {
    background-color: $primary;
    border: none;
    border-radius: 3px;
    color: $white;
    height: 30px;
    width: 49%;
    font-size: 0.8em;
    padding: 5px;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      background-color: $dark;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {

      a { color: $white; }
    }
  }

  label { font-size: 0; }
}

input {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: $lightGray;
  border: 1px solid $darkGray;
  border-radius: 3px;

  &:focus {
    outline: 0;
    border-color: $primary;
    transition: 0.2s ease-in-out;

    & + .input-icon {

      svg {
        fill: $primary;
      }
    }
  }
}

select option,
select {
  width: 100%;
  height: 3.4em;
  padding: 20px;
  line-height: 1.4;
  background-color: $lightGray;
  border: 1px solid $darkGray;
  border-radius: 3px;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.input-group {
  margin-bottom: 0.5em;
}

.input-group-icon {
  position: relative;

  input {
    padding-left: 4.4em;
  }

  select {
    appearance: none;
    padding: 4.4em;
  }

  .input-icon {
    position: absolute;
    top: 6px;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    text-align: center;
    pointer-events: none;

    &::after {
      position: absolute;
      top: 0.6em;
      bottom: 0.6em;
      left: 3.4em;
      display: block;
      transition: 0.2s ease-in-out;
    }

    svg {
      fill: $black;
      transition: 0.2s ease-in-out;
    }
  }
}

nav {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: $darkBlack;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  height: 30px;
  padding: 15px;

  a {
    color: $white;
    font-weight: 300;
    padding: 0 8px;
    height: 30px;
  }

  button {
    background-color: $primary;
    border: none;
    border-radius: 3px;
    color: $white;
    height: 30px;
    width: 70px;
    font-size: 0.8em;
    padding: 5px;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      background-color: $dark;
    }
  }
}

/* Classes */

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: space-evenly;
  align-items: stretch;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.formError {
  background-color: $error;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 8px
}

/* Loader Style */

$width: 50px;

.loadContainer {
  width: 100%;
  height: 100%;
  margin-top: 40%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {

  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {

  100%,
  0% {
    stroke: $primary;
  }

  40% {
    stroke: $darkGray;
  }

  80%,
  90% {
    stroke: $dark;
  }
}
