@import '../../assets/colors';

.roster {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  a {
    color: white;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $black;
    color: $white;
    border: none;
    border-radius: 3px;
    width: 97%;
    height: 30px;
    text-align: left;
    margin: 3px;
    cursor: pointer;

    p {
      margin: 4px 0 0 6px;
    }

    svg {
      padding-top: 5px;
      fill: $white;
    }

    &:hover {
      background-color: $darkGray;
      transition: 0.2s ease-in;
    }
  }

  .rosterButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    svg {
      fill: $danger;
    }
  }

  .current_roster {
    background-color: $primary;
    width: 200px;
    height: calc(100vh - 60px);
  }

  header {
    z-index: -1;
    text-align: center;

    h1 {
      display: block;
      color: $primary;
      text-align: center;
      margin: 0;
      font-size: 45px;
      letter-spacing: 0.01em;
    }
  }
}

.stats_start {
  padding: 20px 20%;

  h3 {
    display: block;
    color: $primary;
    text-align: center;
    margin: 0;
    font-size: 25px;
    letter-spacing: 0.01em;
  }

  h4 {
    display: block;
    color: $black;
    text-align: center;
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.01em;
  }
}

.stats_dashboard {

  h3 {
    display: block;
    color: $primary;
    text-align: center;
    margin: 0;
    font-size: 45px;
    letter-spacing: 0.01em;
  }
}

.stats_title {
  padding: 0;
  width: 100%;
  max-width: 150%;
  display: flex;
  flex-direction: row;
}

.stats_body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .stats_card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $lightGray;
    height: 80px;
    width: 200px;
    border-radius: 5px;
    margin: 5px 10px 40px 10px;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2);

    .stats_card--icon {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 80px;
      height: 80px;
      background-color: $primary;

      svg {
        margin: 15%;
        fill: $white;
      }
    }

    .stats_card--body {
      padding-left: 10px;

      h3 {
        display: block;
        color: $primary;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.01em;
        padding: 10px;
      }

      p {
        display: block;
        color: $black;
        text-align: left;
        margin: 0;
        font-size: 15px;
        letter-spacing: 0.01em;
      }
    }
  }
}

@media only screen and ( max-width: 700px ) {

  .stats_body {
    flex-direction: column;
    width: 100%;
  }
}
